<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
<body>

<h2>Advertisment</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="a/vF1piI0"><a href="//imgur.com/vF1piI0"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

</body>
</html>
